<div class="card">
    <div class="card-header">
        Add a property
    </div>
    <div class="card-body">
  <!--      #Form="ngForm"  is template variable and ngForm (its aa directive) is js representation of form -->
        <form (ngSubmit)='onSubmit(Form)' #Form="ngForm">
        <div class="form-group col-12">
            <label for="name">Name</label>
           <!-- ngModel is to get forms value in console  and name appear as key in console-->
          <!--#propname="ngModel" to get js object refernec by template variable-->
            <input type="text" class="form-control form-control-sm"
            required #propname="ngModel" ngModel name="name" minlength="5"  />
            <span *ngIf="!propname.valid && propname.touched" class="error-block">
              
                <span *ngIf="propname.hasError('required')">Please provide name</span>
                
                <span *ngIf="propname.hasError('minlength')"> Name must be atleast 5 character long</span>
            </span>
        </div>
        <div class="form-group col-12">
    <label for="type">Type</label>
    <input type="text" class="form-control form-control-sm" required  ngModel name="type"/>
</div>
<div class="form-group col-12">
    <label for="proce">Price</label>
    <input type="text" class="form-control form-control-sm" ngModel name="price"/>
</div>
<br/>
<div class="form-group col-12">
    <button  type="submit" class="btn btn-primary " [disabled]="!Form.valid" >Save</button>
    <button type="reset" class="btn btn-primary ">Cancel</button>
</div>
</form>
    </div>


</div>
