<nav class="navbar navbar-expand-lg navbar-dark bg-dark fix-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HSPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"   routerLinkActive="Active" routerLink="/">Buy</a>
        </li>
        <!--routerLink avoid page reloding as page reloeds in href so routerlink avoid it-->
        <!--[routerLinkActiveOptions]  works on the url present or active in the url bar rather its fully matched or partialy like
           localhost:4200 and next localhost:4200/rent-property then both tag would be active ss 
        -->
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="Active" routerLink="/rent-propery">Rent</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link"   routerLinkActive="Active" routerLink="/add-property">List property (free)</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
