h1{
font-weight:lighter;    
}

.card-img-wrapper{
    overflow:hidden;
    position:relative;
}
.card {
  margin: 5px;
  min-height: 400px;
}
  .card:hover img {
    /* transform: scale(0.8);*/
    /*transform: scale(1.2,1.2);*/
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 180px;
    width: 250px;
    opacity: 1;
    margin: 10px;
    margin-left: 10px;
  }
  .card img {
    transform: scale(0.9);
    /* transform: scale(1,1);*/
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 180px;
    width: 250px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 20px;
  }
.card-member-icon {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: 5px;
  margin-right: auto;
  opacity:0;
}

.card-img-wrapper:hover .card-member-icon {
  bottom: 0;
  margin-left:5px;
  opacity:1;
}
.card-ul-animate{
    transition :all 0.5s ease-in-out;
}
.card-body > h1{
    font-family:fantasy;
    color :blue;
}
.font-highlighted{
    font-style :italic;
    color:red;
}
