<div class="row">
    <div class="col-6 m-auto">
        <div class="card m-auto">
            
                <div class="card-header">
                    Login User
                </div>
                <div class="card-body">
                    <form #LoginForm="ngForm" (ngSubmit)="onLogin(LoginForm)">
                        
                          <div class="form-group col-12">
                              <label for="email" >Name</label>
                              <input type="text" class="form-control form-control-sm" required ngModel name="username"/>
                          </div>
                          <br/>
                            <div class="form-group col-12">
                              <label for="password" >Password</label>
                              <input type="password" class="form-control form-control-sm" required ngModel name="password"/>
                          </div>
                            
                        
                          <br/>
                            <div class="form-group col-12">
                              <button [disabled]="!LoginForm.valid" type="submit"   class="btn btn-primary me-2">Login</button>
                              <button type="reset" class="btn btn-secondary mr-2">Cancel</button>
                              
                          </div>
                    </form>
                </div>

        </div>
    </div>
</div>
